---
layout: default
title: Home
---

<h2>Welcome to Slartibartfast</h2>


<!-- Show last 5 posts here -->
<div class="blog-list">
	{% for post in site.posts limit: 5  %}
		<article class="blog-list-item">

	        <header>
	            <h3 class="blog-list-item-title"><a href="{{post.url}}">{{ post.title }}</a></h3>
	            <div class="blog-list-item-meta">
		            <span>Posted by {% if post.author %}{{post.author}}{% else %}{{site.author}}{% endif%} on <time datetime="{{post.date|date:"%F"}}">{{post.date|date:"%b %d, %Y"}}</time></span>
		        </div>
	        </header>
		
			<div class="blog-list-item-excerpt">{{ post.excerpt }}</div>

		</article>
	{% endfor %}
</div>
