/*
 * Globals
 */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, serif;
}

/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}


/*
 * Masthead / site header area
 */

.site-masthead {
  box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
  margin-bottom: 20px;
}

.site-title {
  margin-top: 30px;
  margin-bottom: 0;
  color: #000;
  font-size: 24pt;
  font-weight: normal;
}

.site-title a, .site-title a:visited {
  color: #000;
}

.site-description {
  font-size: 14pt;
  color: #999;
}

/* Nav links */
.site-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  color: #999;
  font-weight: 500;
}
.site-nav-item:hover,
.site-nav-item:focus,
.site-nav-item:visited {
  color: #000;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.site-nav .active {
  color: #000;
}
.site-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right:  5px solid transparent;
  border-bottom: 5px solid;
  border-left:   5px solid transparent;
}

/*
*   Link colors and behaviour
*/ 

a {
  color: #2F7DAD;
}

a:hover {
  color: #2F7DAD;
}

a:visited {
  /* color: #62B0E0; */
  color: #2F7DAD;
}

/*
* List of posts
*/

.blog-list {
  margin-bottom: 60px;
}

.blog-list-item {
  margin-bottom: 40px;
}

.blog-list-item-title {
  font-size: 16pt;
}

.blog-list-item-meta {
  margin-bottom: 10px;
  font-size: 12pt;
  color: #999;
}

.blog-list-item-excerpt {
  font-size: 14pt;
}

/*
 * sidebar layout
 */

.sidebar-module {
  padding: 15px;
}

.sidebar-module-inset {
  border-radius: 4px;
}

.sidebar-module-nav-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.sidebar-module-nav-list li {
  margin: 0px;
}

.sidebar-module-nav-list a {
  color: #2F7DAD;
}

.sidebar-module-nav-list a:hover {
  color: #2F7DAD;
}

.sidebar-module-nav-list a:visited {
  color: #2F7DAD;
}

/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 22pt;
}
.blog-post-meta {
  margin-bottom: 14pt;
  font-size: 12pt;
  color: #999;
}

.blog-post-content {
  margin-bottom: 14pt;
  font-size: 14pt;
}


/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
}