/*
*  body, defaults
*/
p {
  font-size: 14pt;
}



/*
* head, name
*/

.site-name {
    text-transform: uppercase;
    margin: 0 0 20px 0; 
}

.site-name a,
.site-name a:hover,
.site-name a:focus,
.site-name a:visited {
  color: #000;
  text-decoration: none;
}

.site-name #fname {
  padding-left: 1px;
  font-size: 23px;
  letter-spacing: 9px;  /* change this to modify the letter spacing in first name */
  color: black; 
}

.site-name #lname {
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 1px;   /* change this to modify the letter spacing in last name */
  color: black; 
}


/* 
* icon customization
*/
.site-icons {
  margin-bottom: 20px;
}

.fa {
  color: black;
}


/* 
* Nav links 
*/

.site-nav ul {
  margin-left: 0;
  margin-bottom: 30px;
  padding-left: 0;
  list-style: none;
}

.site-nav li {
  padding-bottom: 10px;
  padding-right: 20px;
  color: #999;
}

.site-nav a,
.site-nav a:hover,
.site-nav a:focus,
.site-nav a:visited {
  color: #000;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.site-nav .active {
  font-weight: bold;
}


/*
* page, for archive, about etc
*/
.page {
  margin-bottom: 60px;
  font-size: 14pt;
  color: #000;
}

.page h2 {
  margin-bottom: 5px;
  font-size: 22pt;
}


/*
* List of posts for blog page
*/

.blog-list {
  margin-bottom: 60px;
}

.blog-list-item {
  margin-bottom: 40px;
}

.blog-list-item-title {
}

.blog-list-item-title a {
  color: #222;
}

.blog-list-item-meta {
  margin-bottom: 10px;
  font-size: 12pt;
  color: #999;
}

.blog-list-item-excerpt {
  font-size: 14pt;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 22pt;
}
.blog-post-meta {
  margin-bottom: 14pt;
  font-size: 12pt;
  color: #999;
}

.blog-post-content {
  margin-bottom: 14pt;
  font-size: 14pt;
}


/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
}

.blog-footer p {
  font-size: 8pt;
}



/*
*  misc
*/ 
.col-md-2 {
  /* for some reason bootstrap doesn't pad the top of the width
  2 columns, but it does all the others */
  padding-top: 20px;
}



/*
* media queries
*/

@media(max-width:767px) {
  .site-nav li{
    display: inline-block;
  }
  .fa {
  padding-right: 30px;   /* change this and corresponding media queries depending on the size of your name */
  }
}

@media(min-width:768px){
  .site-nav li{
    display: inline-block;
  }
  .fa {
  padding-right: 30px;   
  }
}

@media(min-width:992px){
  .site-nav li{
    display: block;
  }
  .fa {
  padding-right: 20px;   
  }
}

@media(min-width:1200px){
  .site-nav li{
    display: block;
  }
  .fa {
  padding-right: 30px;  
  }
}