<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
        <meta name="description" content="{{site.description}}"/>
        <meta name="author" content="{{site.author}}"/>
        <link rel="author" href="humans.txt"/>
        <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{site.baseurl}}/feed.xml" />


        <link rel="stylesheet" href="{{site.baseurl}}/resources/style.css" />
        <link href="{{site.baseurl}}/resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{site.baseurl}}/resources/fontello/css/fontello.css">
        <link rel="stylesheet" href="{{site.baseurl}}/resources/fontello/css/animation.css">
        <!--[if IE 7]><link rel="stylesheet" href="{{site.baseurl}}/resources/fontello/css/fontello-ie7.css"><![endif]-->

    </head>

    <body>
        <div class="container">
            <div class="row">

                <div class="col-md-2">

                    <div class="site-name">
                        <a href="/">
                            <span id="fname">{{ site.name|split:' '|first }}</span>
                            <span id="lname">{{ site.name|split:' '|last }}</span>
                        </a>
                    </div>

                    <div class="site-nav navbar nav nav-stacked">
                        <ul class="">
                            <!-- add active class to nav bar links depending on what top-level folder the page is in -->
                            {% if {{page.url}} contains '/blog' %}
                                <li><a class="active" href="{{site.baseurl}}/blog">Blog</a></li>
                                <li><a href="{{site.baseurl}}/about">About</a></li>
                                <li><a href="{{site.baseurl}}/contact">Contact</a></li>
                                <li><a href="{{site.baseurl}}/archive">Archive</a></li>
                            {% elsif {{page.url}} contains '/about' %}
                                <li><a href="{{site.baseurl}}/blog">Blog</a></li>
                                <li><a class="active" href="{{site.baseurl}}/about">About</a></li>
                                <li><a href="{{site.baseurl}}/contact">Contact</a></li>
                                <li><a href="{{site.baseurl}}/archive">Archive</a></li>
                            {% elsif {{page.url}} contains '/contact' %} 
                                <li><a href="{{site.baseurl}}/blog">Blog</a></li>
                                <li><a href="{{site.baseurl}}/about">About</a></li>
                                <li><a class="active" href="{{site.baseurl}}/contact">Contact</a></li>
                                <li><a href="{{site.baseurl}}/archive">Archive</a></li>
                            {% elsif {{page.url}} contains '/archive' %} 
                                <li><a href="{{site.baseurl}}/blog">Blog</a></li>
                                <li><a href="{{site.baseurl}}/about">About</a></li>
                                <li><a href="{{site.baseurl}}/contact">Contact</a></li>
                                <li><a class="active" href="{{site.baseurl}}/archive">Archive</a></li>
                            {% else %}
                                <li><a href="{{site.baseurl}}/blog">Blog</a></li>
                                <li><a href="{{site.baseurl}}/about">About</a></li>
                                <li><a href="{{site.baseurl}}/contact">Contact</a></li>
                                <li><a href="{{site.baseurl}}/archive">Archive</a></li>
                            {% endif %}
                        </ul>

                        <ul>
                            <li><a href="{{site.baseurl}}/feed.xml">RSS</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Github</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-8">
                    <main>
                        {{ content }}
                    </main>
                </div>

            </div>


            <footer class="blog-footer">
                <hr />
                <p>&copy; <time>2014</time> {{ site.author }}</p>
            </footer>
        
        </div>

        <script src="{{site.baseurl}}/resources/bootstrap/js/bootstrap.min.js" />
    </body>

</html>
