<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
        <meta name="description" content="{{site.description}}"/>
        <meta name="author" content="{{site.author}}"/>
        <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/feed.xml" />

        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link rel="stylesheet" href="/resources/style.css" />
        <link rel="stylesheet" href="/resources/font-awesome/css/font-awesome.css"/>

        <link href="/resources/bootstrap/css/bootstrap.css" rel="stylesheet"/>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>
        <div class="container">
            <div class="row">

                <div class="col-md-2">

                    <div class="site-name">
                        <a href="/">
                            <span id="fname">{{ site.name|split:' '|first }}</span>
                            <span id="lname">{{ site.name|split:' '|last }}</span>
                        </a>
                    </div>
                 
                    <section class="site-icons">
                      <a href="https://github.com/{{ site.github }}" target="_blank"><i class="fa fa-lg fa-github"></i></a>
                      <a href="https://twitter.com/{{ site.twitter }}" target="_blank"><i class="fa fa-lg fa-twitter"></i></a>
                      <a href="/feed.xml"><i class="fa fa-lg fa-rss"></i></a>
                    </section>

                    <nav class="site-nav">
                        <div class="">
                            <ul class="">
                                <!-- add active class to nav bar links depending on what top-level folder the page is in -->
                                {% if {{page.url}} contains '/blog' %}
                                    <li><a class="active" href="/blog">Blog</a></li>
                                    <li><a href="/about">About</a></li>
                                    <li><a href="/contact">Contact</a></li>
                                    <li><a href="/archive">Archive</a></li>
                                {% elsif {{page.url}} contains '/about' %}
                                    <li><a href="/blog">Blog</a></li>
                                    <li><a class="active" href="/about">About</a></li>
                                    <li><a href="/contact">Contact</a></li>
                                    <li><a href="/archive">Archive</a></li>
                                {% elsif {{page.url}} contains '/contact' %} 
                                    <li><a href="/blog">Blog</a></li>
                                    <li><a href="/about">About</a></li>
                                    <li><a class="active" href="/contact">Contact</a></li>
                                    <li><a href="/archive">Archive</a></li>
                                {% elsif {{page.url}} contains '/archive' %} 
                                    <li><a href="/blog">Blog</a></li>
                                    <li><a href="/about">About</a></li>
                                    <li><a href="/contact">Contact</a></li>
                                    <li><a class="active" href="/archive">Archive</a></li>
                                {% else %}
                                    <li><a href="/blog">Blog</a></li>
                                    <li><a href="/about">About</a></li>
                                    <li><a href="/contact">Contact</a></li>
                                    <li><a href="/archive">Archive</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </nav>

                </div>

                <div class="col-md-8">
                    <main>
                        {{ content }}
                    </main>
                </div>

            </div>

            <footer class="blog-footer">
                <hr />
                <p>&copy; <time>2014</time> {{ site.author }}</p>
            </footer>
        
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="/resources/bootstrap/js/bootstrap.js"></script>
    </body>

</html>
